/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Apr-2019, 12:34:26
    Author     : alec
*/

.body-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}


.form-login-container input:nth-of-type(2) {
  border-radius: 0.25rem 0.25rem 0 0;
}

.form-login-container input:nth-of-type(3) {
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: none;
}

.form-login-container input:nth-of-type(1):focus { 
    z-index: 10; 
}